body{
  background: lightgrey;
  margin:0;
  color: red;
  font-size: 14px;
  font-weight: lighter;
  border:2px black;
  border-radius: 5px;
  box-shadow: 2px 2px grey;
  height: 100vh;
  /* CSS Flexbox */
	display:flex;
	align-items:center;
	justify-content:center ;
}